body {
    color: #fff;
    background-color: #292929;
    font-family: Helvetica;
}

#content {
    transform: perspective(6000px);
    transform-style: preserve-3d;
    text-align: center;
    width: 100%;
}

.card {
    background: rgba(10, 10, 10, 0.9);
    border-radius: 5px;
    border: 1px solid white;
    font-size: 5em;
    font-weight: bolder;
    height: 150px;
    line-height: 140px;
    position: absolute;
    width: 150px;
}

.rueda {
    height: 150px;
    margin: 250px 50px;
    position: absolute;
    transition-duration: 1s;;
    top: 0px;
    width: 150px;
}

.rueda div:nth-of-type(1) {
    transform: rotateX(0deg) translateZ(240px);
}

.rueda div:nth-of-type(2) {
    transform: rotateX(36deg) translateZ(240px);
}

.rueda div:nth-of-type(3) {
    transform: rotateX(72deg) translateZ(240px);
}

.rueda div:nth-of-type(4) {
    transform: rotateX(108deg) translateZ(240px);
}

.rueda div:nth-of-type(5) {
    transform: rotateX(144deg) translateZ(240px);
}

.rueda div:nth-of-type(6) {
    transform: rotateX(180deg) translateZ(240px);
}

.rueda div:nth-of-type(7) {
    transform: rotateX(216deg) translateZ(240px);
}

.rueda div:nth-of-type(8) {
    transform: rotateX(252deg) translateZ(240px);
}

.rueda div:nth-of-type(9) {
    transform: rotateX(288deg) translateZ(240px);
}

.rueda div:nth-of-type(10) {
    transform: rotateX(324deg) translateZ(240px);
}

#hours1 {
    /* animation: giro_horas 86400s infinite linear; */
    left: 0px;
    transform-style: preserve-3d;
    transform-origin: center center;
}

#hours2 {
    /* animation: giro_medio 36000s infinite linear; */
    left: 160px;
    transform-style: preserve-3d;
    transform-origin: center center;
}

#minutes1 {
    /* animation: giro_medio 3600s infinite linear; */
    left: 440px;
    transform-style: preserve-3d;
    transform-origin: center center;
}

#minutes2 {
    /* animation: giro_total 600s infinite linear; */
    left: 600px;
    transform-style: preserve-3d;
    transform-origin: center center;
}

#seconds1 {
    /* animation: giro_medio 60s infinite linear; */
    left: 880px;
    transform-style: preserve-3d;
    transform-origin: center center;
}

#seconds2 {
    /* animation: giro_total 10s infinite linear; */
    left: 1040px;
    transform-style: preserve-3d;
    transform-origin: center center;
}