body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body>div {
    background-color: rgb(240, 243, 72);
    color: #000;
    font-weight: bolder;
    margin: 40px auto 0px;
    overflow: hidden;
    padding: 4px 6px;
    position: relative;
    text-align: center;
    height: 50px;
    min-height: 50px;
    width: 70%;
}

/* Animaciones */

.giro-x {
    animation: 1.4s giro-x 1;
    backface-visibility: visible;
}

@keyframes giro-x {
    0% {
        opacity: 0.5;
        transform: perspective(200px) rotateX(90deg);
    }
    40% {
        transform: perspective(200px) rotateX(-20deg);
    }
    70% {
        transform: perspective(200px) rotateX(20deg);
    }
}

.giro-y {
    animation: 1.4s giro-y 1;
    backface-visibility: visible;
}

@keyframes giro-y {
    0% {
        opacity: 0.5;
        transform: perspective(200px) rotateY(90deg);
    }
    40% {
        transform: perspective(200px) rotateY(-20deg);
    }
    70% {
        transform: perspective(200px) rotateY(20deg);
    }
}

.giro-out {
    animation: 1s giro-out 1;
}

@keyframes giro-out {
    100% {
        opacity: 0.3;
        transform: perspective(400px) rotateY(90deg);
    }
}

.giro-z {
    backface-visibility: visible;
    animation: giro-z 1s 1;
}

@keyframes giro-z {
    40% {
        transform: perspective(300px) rotateY(170deg) translateZ(150px);
    }
    50% {
        transform: perspective(300px) rotateY(190deg) translateZ(150px);
    }
    80%, 100% {
        transform: perspective(300px) rotateY(360deg) translateZ(0px);
    }
}

.cubo {
    height: 200px;
    overflow: visible;
    padding: 0px;
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left center;
    width: 200px;
}

.cubo>div {
    border: 2px solid #000;
    position: absolute;
    height: 100%;
    width: 100%;
}

.adelante {
    background-color: rgb(216, 42, 42);
    box-shadow: inset 0px 2px 20px #000;
    opacity: 0.75;
}

.atras {
    background-color: #fff;
    left: 100px;
    transform: translateZ(-100px) rotateY(90deg);
}

.cubo:hover {
    transform: perspective(600px) rotateY(-80deg);
}

.cubo:hover>.adelante {
    opacity: 1;
}

.cubo > .atras > h1 {
    color: rgb(216, 42, 42);
    border-bottom: 1px solid rgb(204, 204, 204);
}